
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="menu-outer-wrap">
			<div class="menu-wrap">
				<ul class="menu">
					<li><a href="">Игры</a></li>
					<li><a href="">О проекте</a></li>
					<li><a href="">Подписка</a></li>
				</ul>
			</div>
			<div class="menu-wrap">
				<ul class="menu">
					<li><a href="">Контакты</a></li>
					<li><a href="">Политика конфиденциальности</a></li>
					<li><a href="">Договор-оферты</a></li>
				</ul>
			</div>
		</div>
		<div class="info-outer-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
				<span class="logo-pic">
					<img src="./img/main/logo.svg" alt="">
				</span>
					<span class="logo-title">Говорушка</span>
				</a>
			</div>
			<div class="info-wrap">
				<p>© 2022 ИП Баранова <br>Аграфена Сергеевна</p>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->



<div class="popup-outer-box" id="popup-tarif">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<form action="/" class="tarif-box">
				<h2 class="h1-title">Для оплаты игры выберите тариф</h2>
				<div class="items-wrap">
					<!--item wrap-->
					<div class="item-wrap">
						<div class="item-tile-tarif-select">
							<input type="radio" id="tarif01" name="tarif" checked>
							<label for="tarif01" class="tile-inner-wrap">
									<span class="tile-title-wrap">
										<span class="tile-title">Start</span>
										<span class="tile-info">Доступ к одной игре на месяц</span>
										<span class="tile-info">Возможность бесплатно продлить тариф на 3 месяца</span>
									</span>
								<span class="tile-total">299 ₽ в месяц</span>
							</label>
						</div>
					</div>
					<!--/item wrap-->
					<!--item wrap-->
					<div class="item-wrap">
						<div class="item-tile-tarif-select">
							<input type="radio" id="tarif02" name="tarif">
							<label for="tarif02" class="tile-inner-wrap">
									<span class="tile-title-wrap">
										<span class="tile-title">Start</span>
										<span class="tile-info">Доступ к одной игре на месяц</span>
										<span class="tile-info">Возможность бесплатно продлить тариф на 3 месяца</span>
									</span>
								<span class="tile-total">299 ₽ в месяц</span>
							</label>
						</div>
					</div>
					<!--/item wrap-->
				</div>
				<div class="form-wrap">
					<div class="frm-title">Быстрая регистрация <br>для оплаты игры</div>
					<div class="frm-row">
						<div class="frm-field">
							<input type="text" class="form-input" placeholder="Ваше имя*">
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<input type="email" class="form-input" placeholder="Email*">
						</div>
					</div>
					<div class="frm-row-submit">
						<div class="frm-field field-info">Нажимая на кнопку, даю согласие на обработку <a href="">Персональных данных</a></div>
						<div class="frm-field field-submit">
							<button type="submit" class="btn button-disabled">Зарегистрироваться и Оплатить</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->