
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<span class="logo-pic">
					<img src="./img/main/logo.svg" alt="">
				</span>
				<span class="logo-title">Говорушка</span>
			</a>
		</div>
		<div class="main-menu-wrap menu-wrap js-popup-wrap">
			<a href="" class="btn-action-ico ico-menu js-btn-toggle"></a>
			<div class="menu-content-block js-popup-block">
				<ul class="menu">
					<li><a href="">Главная</a></li>
					<li><a href="">Игры</a></li>
					<li><a href="">О проекте</a></li>
					<li><a href="">Подписка</a></li>
					<li><a href="" class="btn button-menu">Войти</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!-- /header -->